<div class="panel">
    <div class="panel-heading">
        Exercise - Active Search
    </div>
    <div class="panel-body">
        <div class="section">
            <div class="subtitle">Search by Model</div>
            <input type="text" placeholder="search" class="input" name="search_text">
            <div class="block pt-4">
                <div id="search-results">
                </div>
                <div class="has-text-centered">
                    <img id="spinner" class="htmx-indicator has-text-centered" src="/static/spinner.gif" />
                </div>
            </div>
        </div>
    </div>
</div>