<div class="panel">
    <div class="panel-heading">
        hyperscript
    </div>
    <div class="panel-body">
        <div class="section">
            <article class="message">
                <div class="message-header">
                    <p>From the hyperscript.org site</p>
                </div>
                <div class="message-body">
                    an easy & approachable language designed for modern front-end web development
                    <div class="pt-2">
                        hyperscript makes writing event handlers and highly responsive user interfaces easy with a
                        clear, DOM-oriented syntax and by transparently handling asynchronous behavior for you — easier
                        than callbacks, promises, even async/await.
                    </div>
                </div>
            </article>
            <div class="block">In short, hyperscript allows you to easily update the DOM from within your html element
                without using javascript.
            </div>
        </div>
    </div>
</div>