<div class="panel">
    <div class="panel-heading">
        htmx
    </div>
    <div class="panel-body">
        <div class="section">
            <article class="message">
                <div class="message-header">
                    <p>From the htmx.org site</p>
                </div>
                <div class="message-body">
                    htmx gives you access to AJAX, CSS Transitions, WebSockets and Server Sent Events directly in HTML,
                    using attributes, so you can build modern user interfaces with the simplicity and power of hypertext
                    <div class="pt-2">
                        htmx is small (~10k min.gz'd), dependency-free, extendable & IE11 compatible
                    </div>
                </div>
            </article>
            <div class="block">In short, htmx allows you to make ajax calls that return html snippets without coding any
                javascript.
            </div>
            <div class="block">htmx does this by creating a superset of html attributes you can apply to your html
                elements
            </div>
            <div class="block">The primary attributes are:</div>
            <ul class="bullet-list">
                <li>hx-get / hx-post (hx-<i>http_verb</i>)</li>
                <li>hx-target</li>
                <li>hx-trigger</li>
                <li>hx-indicator</li>
            </ul>
        </div>
    </div>
</div>