<div class="panel">
    <div class="panel-heading">
        Me
    </div>
    <div class="panel-body">
        <div class="section">
            <div class="title">Jim Steil</div>
            <div class="subtitle">VP of IT - Quality Liquid Feeds, Inc.</div>
            <div class="block">At QLF I lead the IT department and am the primary developer. We run HarrisData on IBM i
                and have written numerous supporting applications running on Ubuntu, MySQL and nginx.
            </div>
            <div class="block">
                <ul class="bullet-list">
                    <li>AS/400 since its inception</li>
                    <li>RPG</li>
                    <li>Visual Basic</li>
                    <li>PowerBuilder</li>
                    <li>Java</li>
                    <li>Python since 2005</li>
                    <li>Reluctant Javascript user</li>
                </ul>
            </div>
            <div class="subtitle">My Python web development journey</div>
            <ul class="bullet-list">
                <li>mod-python - 2005</li>
                <li>Turbogears - 2007</li>
                <li>web2py - 2010</li>
                <li>py4web - 2020</li>
            </ul>

            <div class="block pt-4">
                I chose web2py/py4web over Django and Flask for the rapid development capabilities and built-in grid
                (CRUD) controls.
            </div>
        </div>
    </div>
</div>