<div class="panel">
    <div class="panel-heading">
        Articles/Videos
    </div>
    <div class="panel-body">
        <div class="section">
            <div class="block">
                A collection of articles and videos about htmx/hyperscript. The first one is a YouTube video from Carson
                Gross, the creator of htmx and hyperscript.
            </div>
            <ul class="bullet-list">
                <li><a href="https://www.youtube.com/watch?v=LRrrxQXWdhI">Return to Hypermedia: Solving Javascript
                        Fatigue Using Fundamental Web Architecture</a></li>
                <li><a href="https://blog.openreplay.com/exploring-htmx-building-dynamic-web-apps-without-javascript">Exploring
                        htmx: Building Dynamic Web Apps Without Javascript</a></li>
                <li><a href="https://blog.logrocket.com/htmx-the-newest-old-way-to-make-web-apps/">htmx: The newest old
                        way to make web apps</a></li>
                <li><a href="https://thenewstack.io/htmx-html-approach-to-interactivity-in-a-javascript-world/">htmx:
                        HTML Approach to Interactivity in a Javascript World</a></li>
                <li>
                    <a
                        href="https://nomadiq.hashnode.dev/reimagining-front-end-web-development-with-htmx-and-hyperscript">Reimagining
                        front-end web development with htmx and hyperscript</a>
                </li>
            </ul>
        </div>
    </div>
</div>